---
/// <reference lib="dom" />
import { SITE } from '@constants'

interface Props {
	title?: string
	forceTitle?: string
	description?: string
	image?: string
	noIndex?: boolean
	ogType?: 'website' | 'article'
	schema?: Record<string, unknown> | Record<string, unknown>[]
}

const { title, forceTitle, description, image, noIndex = false, ogType = 'website', schema } = Astro.props
const {
	title: siteTitle,
	titleDefault: siteTitleDefault,
	description: siteDescription,
	url: siteUrl,
	defaultOgImage: siteImage,
} = SITE

const usingDefaultImage = !image

const seo = {
	title: title ? `${title} | ${siteTitle}` : siteTitleDefault,
	description: description || siteDescription,
	url: new URL(Astro.url.pathname, siteUrl),
	image: new URL(image || siteImage, siteUrl),
}

if (forceTitle) {
	seo.title = forceTitle
}
---

<title>{seo.title}</title>
<meta name="description" content={seo.description} />
<meta name="author" content={SITE.defaultAuthor} />
<link rel="alternate" type="application/rss+xml" title={SITE.titleDefault} href={new URL('rss.xml', Astro.site)} />
<link rel="sitemap" type="application/xml" title="Sitemap" href={new URL('sitemap-index.xml', Astro.site)} />
<link rel="canonical" href={seo.url} />
<meta property="og:title" content={seo.title} />
<meta property="og:url" content={seo.url} />
<meta property="og:description" content={seo.description} />
<meta property="og:image" content={seo.image} />
<meta property="og:image:alt" content={seo.title} />
{usingDefaultImage && (
	<>
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="1800" />
		<meta property="og:image:height" content="945" />
	</>
)}
<meta property="og:type" content={ogType} />
<meta property="og:site_name" content={siteTitle} />
<meta property="og:locale" content={SITE.lang} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={seo.title} />
<meta name="twitter:url" content={seo.url} />
<meta name="twitter:description" content={seo.description} />
<meta name="twitter:image" content={seo.image} />
<meta name="twitter:image:alt" content={seo.title} />
{noIndex && <meta name="robots" content="noindex, nofollow" />}
{schema && (Array.isArray(schema) ? schema : [schema]).map((s) => (
	<script type="application/ld+json" set:html={JSON.stringify(s)} />
))}
<slot />
